<!-- ================= NAV ================= -->
  <header class="hero hero-small">
  <nav aria-label="Main navigation">
    <h1 class="logo">
      <a href="https://datalabxtechnology.github.io/web/" aria-label="DataLab X home">
        <img src="images/Whisk_refined_logo-removebg.png" alt="DataLab X logo" class="logo-icon" />
        <span class="logo-text">
          DataLab <span class="logo-x">X</span>
        </span>
      </a>
    </h1>

    <div class="nav-links">
      <a href="index.html#solutions">Solutions</a>
      <a href="index.html#focus areas">Focus Areas</a>
      <a href="about.html" class="nav-cta">About</a>
      <a href="index.html#contact">Contact</a>
    </div>
  </nav>
 </header>
